HOST=0.0.0.0
PORT=1337
# Clés de sécurité Strapi
APP_KEYS="6y7B+vX9zA8bC=,4dE6fG7hI8jK="
API_TOKEN_SALT="3xK9pL2mN5qR7vS4"
ADMIN_JWT_SECRET="8wT1yU3iO5pA7sD9"
TRANSFER_TOKEN_SALT="1zX3cC5vB7nM9kL2"
JWT_SECRET="5qW7eR9tY1uI3oP5"

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=compta
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=2404
DATABASE_SSL=false
